:root{
  --bg1: #e0f7fa;
  --bg2: #b2ebf2;
  --card-bg: #fff;
  --muted: #f4f4f4;
  --accent1: #667eea;
  --accent2: #764ba2;
  --danger: #e84d4d;

  --green-accent1: #82c240;
  --grey-accent: #f5f5f5;
}